{% extends "base.html" %}
{% block content %}

<style>
.custom {
    top: 10px;
    left: 10px;
    z-index: 1000;
}
</style>

<script>
    let year_min = {{year_min}};
    let year_max = {{year_max}};
</script>

<div class="custom position-fixed bg-white p-4 rounded shadow">
    <p class="h2"> Constructor de mapa </p>

    <div class="form-floating mb-3">
        <select class="form-select filter" id="report" name="report">
            <option value="null" disabled selected>Reporte</option>
            {% for report, description in reports.items() %}
            <option value="{{ report }}">{{ description }}</option>
            {% endfor %}
        </select>
        <label for="report">Reporte</label>
    </div>

    <div class="form-floating mb-3">
        <select class="form-select filter" id="region" name="region">
            <option value="null" disabled selected>Región</option>
            {% for region in regions %}
            <option value="{{ region }}">{{ region|title }}</option>
            {% endfor %}
        </select>
        <label for="region">Región</label>
    </div>

    <div class="form-floating pb-5 pt-1 mb-1 mx-4 z-n1">
        <div id="year"></div>
    </div>

    <div class="form-floating d-none">
        <select class="form-select filter" disabled id="cohort" name="cohort">
            <option value="null" disabled selected>Cohorte</option>
        </select>
        <label for="region">Cohorte</label>
    </div>

    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="form-check col-auto">
                <input type="checkbox" class="form-check-input filter" id="normalize" name="normalize">
                <label class="form-check-label" for="normalize">Normalizar</label>
            </div>
            <div class="col-auto">
                <a class="btn btn-primary" onclick="this.href='data:text/html;charset=UTF-8,'+encodeURIComponent(document.getElementById('map').outerHTML)" href="#" download="page.html">Descargar mapa</a>
            </div>
        </div>

    </div>
</div>

<div id="map" class="w-100 vh-100"> {{map|safe}} </div>

<script src="{{ url_for('static', filename='js/map.js') }}"></script>

{% endblock %}