{% extends "base.html" %}
{% block content %}

<style>
.custom {
    top: 10px;
    left: 10px;
    z-index: 1000;
}
</style>

<script>
    let year_min = {{year_min}};
    let year_max = {{year_max}};
</script>

<div class="custom position-fixed bg-white p-4 rounded shadow">
    <p class="h2"> Constructor de mapa </p>

    <div class="form-floating mb-3">
        <select class="form-select filter" id="report" name="report">
            <option value="null" disabled selected>Reporte</option>
            {% for report, description in reports.items() %}
            <option value="{{ report }}">{{ description }}</option>
            {% endfor %}
        </select>
        <label for="report">Reporte</label>
    </div>

    <div class="form-floating mb-3">
        <select class="form-select filter" id="region" name="region">
            <option value="null" selected>Región</option>
            {% for region in regions %}
            <option value="{{ region }}">{{ region|title }}</option>
            {% endfor %}
        </select>
        <label for="region">Región</label>
    </div>

    <div class="form-floating pb-5 pt-1 mb-1 mx-4 z-n1">
        <div class="" id="year"></div>
    </div>

    <div class="row">
        <button class="btn btn-primary w-100" id="submit" disabled>
            <span class="spinner-border spinner-border-sm d-none" id="submit_spinner"></span>
            Construir mapa
        </button>
    </div>
</div>

<div id="map" class="w-100 vh-100"> {{map|safe}} </div>

<script src="{{ url_for('static', filename='js/map.js') }}"></script>

{% endblock %}